table.blueTable {
  border: 1px solid #8BC600;
  background-color: #FCFCFC;
  width: 100%;
  height: 160px;
  text-align: center;
  border-collapse: collapse;
}
table.blueTable td, table.blueTable th {
  border: 1px solid #B3C691;
  padding: 4px 4px;
}
table.blueTable tbody td {
  font-size: 13px;
}
table.blueTable tr:nth-child(even) {
  background: #D5E7B5;
}
table.blueTable thead {
  background: #72A300;
  background: -moz-linear-gradient(top, #95ba40 0%, #80ac19 66%, #72A300 100%);
  background: -webkit-linear-gradient(top, #95ba40 0%, #80ac19 66%, #72A300 100%);
  background: linear-gradient(to bottom, #95ba40 0%, #80ac19 66%, #72A300 100%);
  border-bottom: 2px solid #3D5700;
}
table.blueTable thead th {
  font-size: 15px;
  font-weight: bold;
  color: #FFFFFF;
  text-align: center;
  border-left: 2px solid #AFDD42;
}
table.blueTable thead th:first-child {
  border-left: none;
}

table.blueTable tfoot td {
  font-size: 14px;
}
table.blueTable tfoot .links {
  text-align: right;
}
table.blueTable tfoot .links a{
  display: inline-block;
  background: #1C6EA4;
  color: #FFFFFF;
  padding: 2px 8px;
  border-radius: 5px;
}